body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  padding: 0;
  background-color: black; /* Optional background color */
  font-family: "VT323", monospace;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
}

canvas {
  background-color: white;
}

.playcutscene {
  background: url("images/cutscene.png") no-repeat center center;
  background-size: contain; /* Ensure the image scales properly */
  width: 150px; /* Adjust width */
  height: 150px; /* Adjust height */
  position: fixed; /* Fix position on the screen */

}

.playcutscene:hover {
  background: url("images/cutscene-hover.png") no-repeat center center;
  background-size: contain; /* Ensure the hover image scales properly */
}

footer {
  position: fixed;
  left: 2%;
  bottom: 2%;
}
