html {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "VT323", monospace;
    color: white;
    width: 100%;
    overscroll-behavior: none;
    height: 100%;
  }

  #main-content {
    position: fixed; /* Fixed positioning */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Allow vertical scrolling within the content */
    /* If you want NO scrolling at all, use:
    overflow: hidden; */
}
  
  h1,
  p {
    text-align: center;
  }
  
  .cell > h1 {
    font-size: 50px;
    position: relative;
  }

  .cell > figure {
    margin: 10%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25% 25% ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5%;
    transform: translate(-25%, -20%) rotate(-6deg);

    
  }
  .grid > .cell {
    border: 10px solid white;
  text-align: center;
  font-size: 30px;
  background-color:#0101aa;
  overflow: hidden;
  }


  .grid > .cell img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  figcaption {
    font-size: 50px;
    color: white;
  }
  
  #notepad-img, #notepad-hover-img {
    width: 70%;
    height: 70%;
}

  #notepad-img {
    display: block;
  }
  
  #notepad-hover-img {
    display: none;
  }
  
  #notepad-btn:hover #notepad-img {
    display: none !important;
  }
  
  #notepad-btn:hover #notepad-hover-img {
    display: block !important;
  }
  
  footer {
    position:fixed;
    left:2%;
    bottom:2%;
  }