body {
  background-color: black;
  font-family: "VT323", monospace;
  color: white;
}

h1,
p {
  text-align: center;
}

.chaptersText {
  padding-left: 18%;
  padding-right: 18%
}

.chapters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display:grid;
  grid-template-columns: auto auto auto;
}
.grid > div {
  border: 1px solid white;
}

figcaption {

  font-size: 25px;
  color: white;
}
.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
}

.notepad {
  position: fixed;
  bottom: 2%;
  right: 0.01%;
}

#notepad-img {
  display: block;
}

#notepad-hover-img {
  display: none;
}

#notepad-btn:hover #notepad-img {
  display: none !important;
}

#notepad-btn:hover #notepad-hover-img {
  display: block !important;
}

footer {
  position:fixed;
  left:2%;
  bottom:2%;
}